@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Sixtyfour+Convergence&display=swap');

/* universal styles */
*{
    padding: 0;
    margin: 0;
    font-family: "Sixtyfour Convergence", sans-serif;
}

#div1 {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    background-color: cornflowerblue;
}

body{
    background-color: aliceblue;
}

#heading {
    font-size: calc(2rem + 2vw + 2vh);
    font-family: "Edu AU VIC WA NT Guides";
    border-style: solid;
    border-color: black;
    border-width: 2vw;
    padding: 0.5vw;
    margin: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.5vw;
}